{% extends "base.html" %} {% block content %}

<div layout="row" layout-align="center center">
  <md-content>
    <md-tabs md-border-bottom md-autoselect md-center-tabs="true" md-dynamic-height="true">
      <md-tab label="Institución">
        {% include "admin_layouts/college_description.html" %}
      </md-tab>
      <md-tab label="Profesores">
        {% include "admin_layouts/professor_layout.html" %}
      </md-tab>
      <md-tab label="Alumnos">
        {% include "admin_layouts/professor_layout.html" %}
      </md-tab>
      <md-tab label="Cursos">
        {% include "admin_layouts/courses_layout.html" %}
      </md-tab>
      <md-tab label="Avisos" id="announ-tab">
          {% include "admin_layouts/announcements_layout.html" %}
      </md-tab>
    </md-tabs>
  </md-content>  <!-- Admin base -->
</div>
{% endblock %}
