<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link rel="stylesheet" href="/static/css/main.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body ng-app="SchoolApp" ng-cloak>
  <!--
    Your HTML content here
  -->
  <md-content>
    <md-toolbar class="md-tall">
      <h2 class="md-toolbar-tools">
        <span>Classes</span>
      </h2>
    </md-toolbar>
  </md-content>

  <!-- Feedback -->
  <div id="feedback" class="feedback">
    <h3 id="feedback-msg" class="no-margin"></h3>
  </div>

  {% block content %}{% endblock %}

  <footer class="footer">
    <div class="container">
      <div class="col-xs-12">
        <div class="row contact-foot">
          <div class="col-xs-12 col-sm-4">
            <img src="../images/logoNext.jpg" width="60px">
            <p> Email:contacto@nextplayers.mx </p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <p>
              <a style="color:white;" href="http://www.craftcode.rocks" target="_blank">
                <img src="../images/craft.png" width="65px">Powered by CraftCode</a>
            </p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <a style="color:white;" href="/terms">
              <p>Términos de uso</p>
            </a>
            <a style="color:white;" href="/privacity">
              <p>Aviso de privacidad</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
      </div>
    </div>
  </footer>


  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc.5/angular-material.min.js"></script>

  <!-- Your application bootstrap  -->
  <script type="text/javascript">
    /**
     * You must include the dependency on 'ngMaterial'
     */
    angular.module('SchoolApp', ['ngMaterial']);
    angular.module('SchoolApp').directive("fileread", ['$http', function($http) {
      return {
        scope: true,
        restrict: 'EA',
        link: function(scope, element, attributes, controller) {
          element.bind("change", function(changeEvent) {
            var reader = new FileReader();
            reader.onload = function(loadEvent) {
              scope.$apply(function() {
                var data = loadEvent.target.result;
                var secureFile = data.match(/^data:image\/(png|jpg|jpeg)/) != null ? true : false;
                if (secureFile) {
                  // Check file size
                  if (changeEvent.target.files[0].size < 1000000) {
                    // Check image model
                    var identifier = $(element).parent().prev();
                    var fd = {};
                    fd['file'] = data.replace(/^data:image\/(png|jpg|jpeg);base64,/, "");
                    scope.photo.file = fd['file'];
                    // Add preview image
                    // First get img element
                    var parent = $(element[0]).parent();
                    $(parent[0]).css({
                      'display': 'none'
                    });
                    var previewImage = $(element[0]).parent().next();
                    $(previewImage[0]).css({
                      "background-image": "url(" + data + ")",
                      "background-size": "cover",
                      'display': 'block'
                    });

                  } else {
                    console.log("El tamaño de la imagen tiene que ser menor a 1MB");
                  }
                } else {
                  console.log("Debes de adjuntar una imagen con formato jpg, jpeg ó png");
                }
              });
            };
            reader.readAsDataURL(changeEvent.target.files[0]);
          });
        }
      }
    }]);

    $(document).ready(function() {
      // Tabs which are used on navigation bar
      var tabItems = $('.menu-click');
      var tabContentWrapper = $('.cd-tabs-content');
      // This action will change the content for each tab
      tabItems.on("click", function(event) {
        var selectedItem = $(this);
        if (!selectedItem.hasClass('selected')) {
          var selectedTab = selectedItem.data('content'),
            selectedContent = tabContentWrapper.find('.tab[data-content="' + selectedTab + '"]');
          tabItems.removeClass('selected');
          selectedItem.addClass('selected');
          selectedContent.addClass('selected').siblings('.tab').removeClass('selected');
        }
      });

    });

    function addFeedback(msg, status) {
      var cl = status == "success" ? "#70DA8B" : "#FFE6B2";
      var fontColor = status == "success" ? "#FFFFFF" : "#C5A14E";
      $("#feedback").addClass("msg");
      $("#feedback-msg").html(msg);
      $("#feedback").css({
        "background-color": cl,
        "color": fontColor
      });
      setTimeout(function() {
        $("#feedback").removeClass("msg");
        $("#feedback-msg").html("");
      }, 6000);
    }
  </script>
  <script src="/static/js/admin/AnnouncementController.js"></script>
  <script src="/static/js/admin/ProfileController.js"></script>
  <script src="/static/js/general/moment.min.js"></script>
  <script src="/static/js/admin/ProfessorController.js"></script>
  <script src="/static/js/admin/StudentController.js"></script>
  <script src="/static/js/admin/CourseController.js"></script>

  <!-- Login -->
  <script src="/static/js/general/HomeController.js"></script>
  <!-- Teacher -->
  <script src="/static/js/teacher/TeacherAnnCtrl.js"></script>
  <script src="/static/js/teacher/TeacherCourseCtrl.js"></script>
  <!-- Teacher -->
  <script src="/static/js/student/StudentAnnCtrl.js"></script>
  <script src="/static/js/student/StudentCourseCtrl.js"></script>

</body>

</html>
