{% extends "base.html" %}

{% block content %}

<div layout="row" layout-align="center center" style="height:100%;">
  <div class="login" flex="40" style="height:100%;">

  </div>
  <div flex="60" style="height:100%;">
    <form method="POST" action="" class="form" style="text-align:center; width:50%;">
      <h1> Colegio Lorem </h1>
      <div layout-gt-sm="column">
       <md-input-container class="md-block" flex-gt-sm>
         <label>Id</label>
         <input ng-model="user.firstName">
       </md-input-container>
       <md-input-container class="md-block" flex-gt-sm>
         <label>Password</label>
         <input ng-model="theMax" type="password">
       </md-input-container>
     </div>
        <md-button class="md-raised"><a href="{{ url_for('teacher') }}">Login</a></md-button>
    </form>
  </div>

</div>


{% endblock %}
