{% extends "base.html" %} {% block content %}
<div layout="column" style="height:100%;">
  <div layout="row" flex>
    <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp" style="overflow:hidden">
      <md-list>
        <md-list-item style="height:50px">
          <md-button class="menu-click" id="profileBtn"  data-content="profile">
            <md-icon md-svg-src="/static/images/classes.svg"></md-icon>
            Mi Perfil
            </md-buton>
        </md-list-item>
        <md-list-item style="height:50px">
          <md-button class="menu-click selected" id="classesBtn"  data-content="classes">
            <md-icon md-svg-src="/static/images/classes.svg"></md-icon>
            Clases
            </md-buton>
        </md-list-item>
        <!-- <md-list-item style="height:50px">
          <md-button class="menu-click" id="timetableBtn"  data-content="timetable">
            <md-icon md-svg-src="/static/images/timetable.svg"></md-icon>
            Horario
            </md-buton>
        </md-list-item> -->
        <md-list-item style="height:50px">
          <md-button class="menu-click" id="annuncesBtn"  data-content="announces">
            <md-icon md-svg-src="/static/images/announce.svg"></md-icon>
            Avisos Administrativos
            </md-buton>
        </md-list-item>
        <md-list-item>
          <md-button>
            <a href="{{ url_for('login') }}">
            Cerrar sesion
          </a>
            </md-buton>
        </md-list-item>
      </md-list>
    </md-sidenav>
    <md-content id="content" class="md-padding cd-tabs-content">
      <div class="tab" data-content="profile" id="profile">
        {% include "dashboard_teacher/profile_info.html" %}
      </div>
      <div class="tab selected" data-content="classes" id="classes">
        {% include "dashboard_teacher/classes.html" %}
      </div>
      <!-- <div  class="tab" data-content="timetable" id="timetable">
        {% include "dashboard_teacher/timetable.html" %}
      </div> -->
      <div class="tab" data-content="announces" id="announces">
        {% include "dashboard_teacher/announces.html" %}
      </div>
    </md-content>
  </div>
</div>
{% endblock %}
