{% extends "base.html" %} {% block content %}
<div layout="column" style="height:100%;">
  <div layout="row" flex>
    <md-sidenav md-is-locked-open="true" class="left-navigation md-whiteframe-16dp">
      <md-list>
        <md-list-item style="height:50px">
          <md-button class="menu-click selected" id="profileBtn" data-content="profile">
            <md-icon md-svg-src="/static/images/classes.svg"></md-icon>
            Mi Perfil
            </md-buton>
        </md-list-item>
        <md-list-item style="height:50px">
          <md-button class="menu-click" id="classesBtn" data-content="classes">
            <md-icon md-svg-src="/static/images/classes.svg"></md-icon>
            Clases
            </md-buton>
        </md-list-item>
        <md-list-item style="height:50px">
          <md-button class="menu-click" id="annuncesBtn" data-content="announces">
            <md-icon md-svg-src="/static/images/announce.svg"></md-icon>
            Avisos Administrativos
            </md-buton>
        </md-list-item>
        {% if principal.validate %}
        <md-list-item style="height:50px">
          <md-button class="menu-click" id="activitiesBtn" data-content="activity">
            <md-icon md-svg-src="/static/images/announce.svg"></md-icon>
            Analisis de Profesores
            </md-buton>
        </md-list-item>
        {% endif %}
      </md-list>
    </md-sidenav>
    <md-content id="content" class="md-padding cd-tabs-content dots-back">
      <div class="tab selected" data-content="profile" id="profile">
        {% include "dashboard_teacher/profile_info.html" %}
      </div>
      <div class="tab" data-content="classes" id="classes">
        {% include "dashboard_teacher/classes.html" %}
      </div>
      <!-- <div  class="tab" data-content="timetable" id="timetable">
        {% include "dashboard_teacher/timetable.html" %}
      </div> -->
      <div class="tab" data-content="announces" id="announces">
        {% include "dashboard_teacher/announces.html" %}
      </div>
      {% if principal.validate %}
      <div class="tab" data-content="activity" id="activity">
        {% include "dashboard_teacher/principal_special.html" %}
      </div>
      {% endif %}
    </md-content>
  </div>
</div>
{% endblock %}
