{% extends "base.html" %} {% block content %}
<div layout="column" style="height:100%;">
  <div class="container" layout="row" flex>
    <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp" style="overflow:hidden">
      <md-list>
        <md-list-item style="height:50px">
          <md-button>
            <md-icon md-svg-src="/static/images/classes.svg"></md-icon>
            Clases
            </md-buton>
        </md-list-item>
        <md-list-item style="height:50px">
          <md-button>
            <md-icon md-svg-src="/static/images/timetable.svg"></md-icon>
            Horario
            </md-buton>
        </md-list-item>
        <md-list-item style="height:50px">
          <md-button>
            <md-icon md-svg-src="/static/images/announce.svg"></md-icon>
            Avisos Administrativos
            </md-buton>
        </md-list-item>
        <md-list-item>
          <md-button>
            <a href="{{ url_for('login') }}">
            Cerrar sesion
          </a>
            </md-buton>
        </md-list-item>
      </md-list>
    </md-sidenav>
    <md-content id="content" class="md-padding">
      <md-card style="width: 32%;height: 500px;">
        <div class="top-header"></div>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Historia del Arte</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button><a href="{{ url_for('teacher_class') }}">Ir a clase</a></md-button>
        </md-card-actions>
      </md-card>
    </md-content>
  </div>
</div>
{% endblock %}
