<md-content class="md-padding">
  <div ng-controller="CourseTaskCtrl" ng-cloak>
    <div layout="column" layout-align="center center">
      <p>*Nota: En caso de que el profesor habilite el poder subir su tarea desde la plataforma, es necesario primero seleccionar el archivo que se desea adjuntar y posteriormente dar click en el botón de "SUBIR", de esta manera su trabajo será cargado a la plataforma.</p>
      <div id="hw-content" style="width:80%;">
      </div>
    </div>
  </div>
</md-content>
