<div ng-controller="CourseAnnCtrl" ng-cloak>
  <div layout="column" layout-align="center center">
    <div class="publish">
      <h2>Publica un aviso</h2>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Escribe un aviso</label>
        <input ng-model="announ.description">
      </md-input-container>
      <md-button class="md-raised" ng-click="createAnnouncement()">Publicar</md-button>
    </div>
    <md-list style="width:50%;" id="comment-space">

    </md-list>
  </div>
</div>
