<div ng-controller="CourseMaterialCtrl">
  <div class="container">
    <md-table-container>
      <table md-table md-row-select="options.rowSelection">
        <thead md-head>
          <tr md-row class="table-head">
            <th><span>Titulo</span></th>
            <th><span>Descripcion de material</span></th>
            <th>Material</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody md-body id="material-content" class="table-body">
        </tbody>
        </tbody>
      </table>
    </md-table-container>
  </div>
</div>
