/**
  * Backgrounds Partial SASS
  * This SASS file create
  * multiple backgrounds (colors/img)
**/
.profile-photo {
  background: $black;
  height: 550px;
  .default-photo {
    background: $gray;
    @include transition(opacity ease-in-out .2s);
    height: 100%;
    .photo-icon {
      width: 80px;
      height: 80px !important;
      margin: 0 auto;
      @include vertical-align();
    }
  }

  input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
}
.profile-preview {
  @extend %no-margin;
  height: 550px;
  width: 100%;
  display: none;
  .inner-filter {
    @extend %complete-dimension;
    background: linear-gradient(0deg, transparent, rgba(29, 17, 17, 0.6)), linear-gradient(transparent, transparent 50%);
  }
  a {
    background-image: url("../images/ic_cancel_white.png");
    padding: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 15px;
    right: 15px;
    &:hover {
      padding: 18px;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }
  }
}

.login {
   background-image: url("/static/images/08-06-201601:17:04traviareO8lBNW.jpg");
   background-size: cover;
   width: 100%;
   height: 600px;
 }
