/**
  * Modals Partial SASS
  * This SASS has the modals dialogs
**/

.card-dialog {
  width: 50%;
  .input-margin {
    margin: 25px auto;
    width: 80%;
  }
  .icon-margin {
    width: 80%;
    text-align: right;
  }
  .time {
    width: 150px;
    display: table;
  }
}
