/**
  * Modals Partial SASS
  * This SASS has the modals dialogs
**/
/*Modal Dialog Main*/
.modalDialog {
  @include position(fixed, true, 0);
  @include transition(opacity 400ms ease-in);
  background: $color-back-modal;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  overflow: auto;
}
.modalUser {
  @include position(fixed, true, 0);
  @include transition(opacity 400ms ease-in);
  background: $color-back-modal;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  overflow: auto;
}

/* Modal Dialog Login */
.dialog {
  @extend %modal-dialog-pos;
  width: 32%;
  background: $white;
  font-family: $font-family--primary;
}
.modal_header {
  @extend %uppercase;
  padding: 1px;
  height: 100px;
  text-align: center;
  background: $soft-green;
}

/* Modal Gallery */
.dialog_gal {
  @extend %modal-dialog-pos;
  width: 50%;
  padding: 22px 22px 60px;
  background: $medium-orange;
}

/* Modal Dialog hotel */
.dialog_hotel {
  @extend %modal-dialog-pos;
  width: 32%;
  height: 50%;
  background: $white;
  font-family: $font-family--primary;
}
.modal_hotel {
  background: $color-header-hotel;
}
.modalTeam {
  background: $color-back-modal;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  overflow: auto;
  @include position(fixed, true, 0);
  @include transition(opacity 400ms ease-in);
  .modal_header {
    color: $white;
    background: $color-box-team;
  }
  h2 {
    text-align: left;
    font-family: $font-family--primary;
    padding-left: 5%;
    padding-top: 5%;
  }
  .dialog {
    @extend %modal-dialog-pos;
    border: 8px solid $gray-material;
    width: 50%;
    background: $color-box-team;
    font-family: $font-family--primary;
  }
  .btn-team {
    overflow: auto;
  }
  ul {
    list-style-type: none;
    clear: both;
    overflow: auto;
    li {
      float: left;
      input[type="radio"] {
        opacity: 0;
        margin: -9999px;
      }
      label {
        width: 100px;
      }
    }
  }
}

/*Modal Dialog Confirmation*/
.modalDialog_booking {
  @include position(fixed, true, 0);
  @include transition(opacity 400ms ease-in);
  background: $color-back-modal;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  overflow: auto;
  .dialog_confirm {
    border-radius: 25px;
    text-align: center;
    padding: 4%;
    position: relative;
    z-index: 99;
    height: auto;
    margin: 12% auto;
    width: 50%;
    background: $soft-maroon;
    font-family: $font-family--primary;
    color: $white;
  }
}
/*Modal Dialog Booking Review*/
.dialog_booking {
  position: relative;
  z-index: 99;
  height: auto;
  margin: 12% auto;
  width: 50%;
  background: $soft-maroon;
  font-family: $font-family--primary;
  color: $white;
  .calendar-message {
    display: none;
    text-align: center;
    font-size: 20px;
    width: 100%;
  }
}
