/**
  * Wrappers Partial SASS
  * This SASS has all the wrappers used on the app
  * This file is the most important because all boxes format
  * are predefined here
**/
.border-title {
  border-top: 6px solid $white;
  width: 65px;
  margin-bottom: 5%;
}
.card-announ {
  background-color: white;
  width: 55%;
    margin: 10px auto;

}

.button-eliminate {
  margin-top: 50px;
  float: right;
}

.card {
  background: $white;
  padding: 25px;
  .card-button {
    float: right;
  }
}


/* Tab container*/
.cd-tabs-content {
  background: $white;
  height: auto;
  padding: 0;
  width: 100%;
  .tab {
    display: none;
    padding: 1.4em;
    height: auto;
    overflow-y: scroll;
    &.selected {
      display: block;
      -webkit-animation: cd-fade-in 0.5s;
      -moz-animation: cd-fade-in 0.5s;
      animation: cd-fade-in 0.5s;
    }
    p {
      @include styling_wrapper_content($black, null, 16px, $font-family--primary, 1.6);
    }
  }
}
