/**
  * Wrappers Partial SASS
  * This SASS has all the wrappers used on the app
  * This file is the most important because all boxes format
  * are predefined here
**/
.border-title {
  border-top: 6px solid $white;
  width: 65px;
  margin-bottom: 5%;
}
.card-announ {
  background-color: white;
  width: 65%;
  margin: 10px auto;
}
.button-eliminate {
  float: right;
}
.card {
  background: $white;
  padding: 25px;
  .card-button {
    float: right;
  }
}
.general-card {
  margin: 10px 0;
  height: 285px;
}
.margin-block {
  margin-top: 100px;
  label {
    text-align: center;
    width: 100%;
  }
}
.container-questions {
  margin: 10px auto;
  width: 85%;
  height: 230px;
  border-bottom: 4px dashed $gray-900;
  .multiple-opt {
    width: 150px;
  }
}
.questions {
  height: 50px;
}
.margin-level {
  margin-top: 10px;
}
.header-school {
  color: black;
  background-color: white;
}
.add-color {
  color: white;
}
md-list-item ._md-list-item-inner ._md-secondary-container,
md-list-item ._md-secondary-container {
  height: auto;
}
// Table
.table-head {
  background-color: $white;
  @include border-radius(5px);
  th {
    border-right: 1px solid #ccc;
    padding: 12px;
    text-align: center;
  }
}
.table-body {
  background: #ccc;
  @include border-radius(5px);
  tr {
    border-bottom: 1px solid $white;
    td {
      border-right: 1px solid $white;
      text-align: center;
    }
  }
}
.image-course {
  background-repeat: repeat;
  width: 100%;
  background-color: $gray-100;
}

md-tabs.md-default-theme md-tabs-wrapper, md-tabs md-tabs-wrapper {
    background-color: white;
    border-color: rgba(0,0,0,0.12);
}

// Card admin attributes
.header-card {
  text-align: center;
  width: 100%;
  height: 80px;
  padding: 10px;
  background-color: #ccc;
}

.building {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
