/**
  * Wrappers Partial SASS
  * This SASS has all the wrappers used on the app
  * This file is the most important because all boxes format
  * are predefined here
**/
.border-title {
  border-top: 6px solid $white;
  width: 65px;
  margin-bottom: 5%;
}
.card-announ {
  background-color: white;
}
.button-eliminate {
  margin-top: 50px;
  float: right;
}

.card {
  background: $white;
  padding: 25px;
  .card-button {
    float: right;
  }
}
