<div ng-controller="CourseController">
  <md-button md-no-ink class="md-primary" ng-click="addCourse($event)">+ Agregar curso</md-button>
  <div class="header-filter">
    <h3>Niveles</h3>
    <md-radio-group ng-model="data.group">
      <md-radio-button value="c3" class="md-primary">Bachillerato</md-radio-button>
      <md-radio-button value="c4" class="md-primary"> Licenciatura </md-radio-button>
    </md-radio-group>
    <md-button ng-click="search()">
      Buscar
    </md-button>
  </div>
  <div id="CourseCards">
  </div>
  <!-- Angular Material has problems with chips and dialogs using templates
   instead we use a static dialog using just one controller in order to use chips
   with a dialog -->
  <div style="visibility: hidden">
    <div class="md-dialog-container" id="CourseDialog">
      <md-dialog aria-label="Crear un nuevo curso">
        <form>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>Agrega un curso</h2>
              <span flex></span>
            </div>
          </md-toolbar>
          <!-- Toolbar -->
          <md-dialog-content layout="column">
            <div class="md-dialog-content">
              <div layout="column">
                <div class="row">
                  <form id="adminCourses">

                    <div class="col-sm-6">
                      <md-input-container class="md-block" flex>
                        <label>Nombre del curso</label>
                        <input ng-model="cou.name">
                      </md-input-container>
                      <md-input-container class="md-block" flex>
                        <label>Clave</label>
                        <input ng-model="cou._id">
                      </md-input-container>

                      <md-input-container class="md-block">
                        <label>Descripcion</label>
                        <textarea ng-model="cou.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                      </md-input-container>
                    </div>
                    <div class="col-sm-6">
                      <md-input-container class="md-block" flex>
                        <label>Semestre</label>
                        <input ng-model="cou.semester">
                      </md-input-container>
                  </form>

                  <div>
                    <h3>Nivel</h3>
                    <md-select ng-model="cou.level" aria-label="courses">
                      <md-option value="c1">
                        Primaria
                      </md-option>
                      <md-option value="c2">
                        Secundaria
                      </md-option>
                      <md-option value="c3">
                        Bachillerato
                      </md-option>
                      <md-option value="c4">
                        Licenciatura
                      </md-option>
                    </md-select>
                  </div>
                  </div>
                </div>
              </div>
              <!-- End Dialog Content -->
            </div>
        </form>
        </md-dialog-content>
        <md-dialog-actions layout="row">
          <span flex></span>
          <md-button ng-click="closeDialog()">
            Cancelar
          </md-button>
          <md-button ng-click="createCourse()" style="margin-right:20px;">
            Crear
          </md-button>
        </md-dialog-actions>
      </md-dialog>

    </div>
  </div>
  <!-- End Dialog -->
</div>
