<md-dialog aria-label="Crear un nuevo aviso">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Crea un aviso</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <!-- Toolbar -->
    <md-dialog-content layout="column">
      <div class="md-dialog-content">
        <div layout="column">
          <md-input-container class="md-block" flex>
            <label>Titulo del aviso</label>
            <input ng-model="announ.title">
          </md-input-container>

          <md-input-container style="margin-top:22px; margin-bottom:22px;" class="md-block " flex>
            <label>Contenido</label>
            <input ng-model="announ.content">
          </md-input-container>
          <div>
            <h3></h3>
            <md-checkbox ng-model="announ.level.c4" aria-label="Bachelor">
              Licenciatura
            </md-checkbox>
            <md-checkbox ng-model="announ.level.c3" aria-label="HighSchool">
              Bachillerato
            </md-checkbox>
            <md-checkbox ng-model="announ.level.c2" aria-label="MiddleSchool">
              Secundaria
            </md-checkbox>
            <md-checkbox ng-model="announ.level.c1" aria-label="ElementarySchool">
              Primaria
            </md-checkbox>
          </div>
        </div>
        <!-- End Dialog Content -->
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog()">
        Cancelar
      </md-button>
      <md-button ng-click="createAnnouncement()" style="margin-right:20px;">
        Crear
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
