/**
  * BASE Partial SASS
  * This SASS file has general components
  * used on the app
**/
/*General*/
html {
  height: 100%;
}
body {
  background-color: $gray-100;
}
.no-margin {
  @extend %no-margin;
}
.no-padding {
  @extend %no-padding;
}
.general-center {
  text-align: center;
  margin: 0 auto;
}
.txt-left {
  text-align: left;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family--h4;
}
p {
  font-family: $font-family--primary;
  font-weight: $font-weight--light;
}
.title {
  font-size: 5em;
  text-align: center;
}


.center-card {
  text-align: center;
}
