/**
  * BASE Partial SASS
  * This SASS file has general components
  * used on the app
**/

/*General*/
html {
    height: 100%;
}


.no-margin {
  @extend %no-margin;
}

.no-padding {
  @extend %no-padding;
}

.general-center {
  text-align: center;
  margin: 0 auto;
}

.txt-left {
  text-align: left;
}
