/**
  * Footer Partial SASS
  * This SASS file has all footers style
**/

/*Footer*/
footer {
  width: 100%;
  background: $gray-900;
  height: 100px;
  justify-content: center;
  display: flex;
  font-family: $font-family--primary;
  color: $white;
  position: fixed;
  bottom: 0;
}
