/**
  * Header Partial SASS
  * This SASS file has the header components
  * used on the app
**/

/* Header */
.box_top_search {
  width: 100%;
}

.header {
  &-simple {
    @extend %header;
    position: absolute;
  }
  &-others {
    @extend %header;
    position: relative;
  }
}

.head_register {
  @include box(100%, 400px);
}

/*Menu*/
.column {
  width: 100%;
}

.dl-menuwrapper {
  @include transition(opacity .40s ease-in-out);
  @include position(fixed, false, top 10px left -100%);
  @extend %complete-dimension;
  z-index: 2;
  ul {
    @extend %no-padding;
    background: $menu-brown;
    list-style: none;
  }
  li a {
    @include styling_wrapper_content($white, null, 18px, null, 20px, 300);
    display: block;
    position: relative;
    padding: 15px 20px;
    text-decoration: none;
    border-bottom: 1px solid $transparent-darker-gray;
    &:hover {
      background: $transparent-darker-gray;
    }
  }

  .dl-menu {
    @include box(250px, auto, absolute);
    @include transition(opacity .40s ease-in-out, left .40s cubic-bezier(0.23, 1, 0.32, 1));
    @extend %menu;
    pointer-events: none;
  }
}

.back-opaque {
  @include box(null, 100%, null, 9);
  @include transition(opacity 400ms ease-in-out, left 400ms cubic-bezier(0.23, 1, 0.32, 1));
  @extend %menu;
  @extend %complete-dimension;
  background-color: transparent;
}

/*Login/Sing up buttons*/

.labelAccess {
  @include styling_wrapper_content($color-footer, center, $font: $font-family--primary, $w:bold);
}

/* User */
.user {
  @extend %margin-center;
  width: 40%;
  text-align: center;
}

.circular_user {
  @include box(50px, 50px, null);
  @include border-radius(25px);
  @extend %margin-center;
  background-repeat: no-repeat;
  border: 2px solid $gray;
}

/* Search Mini */
.container-left-search {
  display: flex;
}

.box_top_search_mini {
  width: 64%;
  margin: 10px 0;
}

.box_mini {
  @include box(80%, 34px, null, null, table);
  margin: 0 auto 0 15%;
  background: $color-box-top;
}

input[type="search"].search_input_mini {
  @extend %search-input-inner;
  width: 75%;
  height: 18px;
  font-size: 9pt;
}

.icon_mini {
  @extend %no-padding;
  border: none;
  background: transparent;
  width: 8%;
}


/* Big Search Box*/
.box-other {
  @include box(100%, 35px, null, null, inline-table);
}

.container-1 {
  width: 95%;
  display: table-cell;
  vertical-align: middle;
}

.search-bar {
  padding-top: 10px;
  padding-bottom: 10px;

}

.box {
  @include box(50%, 60px, null, null, table);
  @extend %margin-center;
  background: $color-box-top;
}

input[type="search"] {
  @extend %search-input-inner;
  width: 85%;
  height: 40px;
  font-size: 12pt;
}

/*******************************************************/
/****************Admin Hotel/Restaurant*****************/
/*******************************************************/
.wrapper-head-title {
  @include styling_wrapper_content($brown, center, null, $font-family--primary)
}


