<md-content class="md-padding">
  <div ng-controller="CourseTaskCtrl" ng-cloak>
    <div layout="column" layout-align="center center">
      <div>
        <md-button md-no-ink class="md-primary" ng-click="showAdvanced($event)">+Agregar tarea</md-button>
      </div>
      <div id="hw-content" style="width:80%;">

      </div>

    </div>
    <!-- Angular Material has problems with chips and dialogs using templates
     instead we use a static dialog using just one controller in order to use chips
     with a dialog -->
    <div style="visibility: hidden">
      <div class="md-dialog-container" id="CourseDialogTask">
        <md-dialog aria-label="Crear una nueva actividad o tarea" ng-cloak class="card-dialog">
          <form name="taskForm" novalidate>
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h2>Crea una tarea / actividad</h2>
              </div>
            </md-toolbar>
            <md-dialog-content layout="column">
              <div class="md-dialog-content">
                <div layout="column">
                  <p>*Nota: Si se desea insertar un video, agregue el link en la descripción, ya que el paquete actual de la plataforma no cuenta con la capacidad de almacenamiento para videos</p>
                  <md-input-container class="md-block input-margin">
                    <label>Título de la actividad</label>
                    <input ng-model="hw.title" type="text" name="title" required>
                    <div ng-show="taskForm.$submitted || taskForm.title.$touched" class="error-msg">
                      <span ng-show="taskForm.title.$error.required">Campo obligatorio.</span>
                    </div>
                  </md-input-container>
                  <md-input-container class="md-block input-margin">
                    <label>Descripción de la actividad</label>
                    <textarea ng-model="hw.content" md-maxlength="1000" rows="5" md-select-on-focus type="text" name="content" required></textarea>
                    <div ng-show="taskForm.$submitted || taskForm.content.$touched" class="error-msg">
                      <span ng-show="taskForm.content.$error.required">Campo obligatorio.</span>
                    </div>
                  </md-input-container>
                  <div class="row">
                    <div class="col-sm-6">
                      <label>Fecha Entrega</label>
                      <md-datepicker class="input-margin time" ng-model="hw.end_date" md-placeholder="MM/DD/YYYY">
                      </md-datepicker>
                    </div>
                    <div class="col-sm-6">
                      <label>Hora de entrega</label>
                      <mdp-time-picker class="input-margin time" ng-model="hw.end_hour" mdp-placeholder="HH:MM"></mdp-time-picker>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <md-input-container class="md-block input-margin" flex>
                        <label>Tipo</label>
                        <md-select ng-model="hw.model" name="model" required>
                          <md-option value="homework">
                            Tarea
                          </md-option>
                          <md-option value="project">
                            Proyecto
                          </md-option>
                          <md-option value="participation">
                            Participación
                          </md-option>
                          <md-option value="extras">
                            Extras
                          </md-option>
                        </md-select>
                        <div ng-show="taskForm.$submitted || taskForm.model.$touched" class="error-msg">
                          <span ng-show="taskForm.model.$error.required">Campo obligatorio.</span>
                        </div>
                      </md-input-container>
                    </div>
                    <div class="col-sm-6">
                      <md-switch ng-model="hw.attachment" aria-label="attachment_filename" style="display:block;">
                        El alumno puede adjuntar un archivo
                        <md-icon md-svg-src="/static/images/ic_attachment.svg" class="material-icons step" aria-label="attachment">
                        </md-icon>
                      </md-switch>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <md-input-container class="md-icon-float md-block">
                        <label>Agregar archivo</label>
                        <md-icon md-svg-src="/static/images/ic_attachment.svg" class="material-icons step" aria-label="attachment">
                        </md-icon>
                        <input type="file" fileread ng-model="route" id="fileTask">
                      </md-input-container>
                      <md-button ng-click="updateFile()" id="fileBtnTask">
                        Eliminar Archivo
                      </md-button>
                    </div>
                    <div class="col-sm-6">

                    </div>
                  </div>
                </div>
              </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
              <span flex></span>
              <md-button ng-click="cancel()">
                Cancelar
              </md-button>
              <md-button ng-click="createHw(taskForm.$valid)" style="margin-right:20px;">
                Crear
              </md-button>
            </md-dialog-actions>
          </form>
        </md-dialog>
      </div>
    </div>
    <!-- End Dialog -->
  </div>
</md-content>
