<div ng-controller="CourseMaterialCtrl">
  <div class="container">
    <div layout="column" layout-align="center center">
      <div>
        <md-button md-no-ink class="md-primary" ng-click="showAdvancedMaterial($event)">+Agregar material de clase</md-button>
      </div>
    </div>
    <md-table-container>
      <table md-table md-row-select="options.rowSelection">
        <thead md-head>
          <tr md-row class="table-head">
            <th><span>Titulo</span></th>
            <th><span>Descripción de material</span></th>
            <th>Material</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody md-body id="material-content" class="table-body">
        </tbody>
      </table>
    </md-table-container>
  </div>
  <!-- Angular Material has problems with chips and dialogs using templates
   instead we use a static dialog using just one controller in order to use chips
   with a dialog -->
  <div style="visibility: hidden">
    <div class="md-dialog-container" id="CourseDialogMaterial">
      <md-dialog aria-label="Crear una nueva actividad o tarea" ng-cloak class="card-dialog">
        <form name="materialForm" novalidate>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>Crear recursos para clase</h2>
              <span flex></span>
            </div>
          </md-toolbar>
          <md-dialog-content layout="column">
            <div class="md-dialog-content">
              <div layout="column">
                <p>*Nota: Si se desea insertar un video, agregue el link en la descripción, ya que el paquete actual de la plataforma no cuenta con la capacidad de almacenamiento para videos</p>
                <md-input-container class="md-block input-margin">
                  <label>Título del recurso</label>
                  <input ng-model="material.title" type="text" name="title" required>
                  <div ng-show="materialForm.$submitted || materialForm.title.$touched" class="error-msg">
                    <span ng-show="materialForm.title.$error.required">Campo obligatorio.</span>
                  </div>
                </md-input-container>
                <md-input-container class="md-block input-margin">
                  <label>Descripción del recurso</label>
                  <textarea ng-model="material.content" md-maxlength="200" rows="4" md-select-on-focus name="content" required></textarea>
                  <div ng-show="materialForm.$submitted || materialForm.content.$touched" class="error-msg">
                    <span ng-show="materialForm.content.$error.required">Campo obligatorio.</span>
                  </div>
                </md-input-container>
                <div class="row">
                  <div class="col-sm-6">
                    <md-input-container class="md-icon-float md-block">
                      <label>Agregar archivo</label>
                      <md-icon md-svg-src="/static/images/ic_attachment.svg" class="material-icons step" aria-label="attachment">
                      </md-icon>
                      <input type="file" fileread ng-model="route" id="file">
                    </md-input-container>
                    <md-button ng-click="updateFile()" id="updateFileBtn">
                      Eliminar Archivo
                    </md-button>
                  </div>
                  <div class="col-sm-6">

                  </div>
                </div>
              </div>
            </div>
          </md-dialog-content>
          <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
              Cancelar
            </md-button>
            <md-button ng-click="createMaterial(materialForm.$valid)" style="margin-right:20px;">
              Crear
            </md-button>
          </md-dialog-actions>
        </form>
      </md-dialog>
    </div>
  </div>
  <!-- End Dialog -->
</div>
