<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/md-data-table.min.css">
  <link rel="stylesheet" href="/static/css/main.css">

</head>

<body ng-app="SchoolApp" ng-cloak>
  <header md-page-header>
    <md-toolbar>
      <div class="head-img">
        <h1>Tareas</h1>
      </div>
      <span flex></span> {% if current_user.is_authenticated %}
      <md-button class="md-warn"><a href="/teacher/class/{{course.id}}">Regresar</a></md-button>
      <input type="hidden" value="{{course.id}}" id="courseId" />
      <input type="hidden" value="{{task.pos}}" id="taskPos" />
      <input type="hidden" value="{{task.date}}" id="taskDate" /> {% endif %}
    </md-toolbar>
  </header>

  <!-- Feedback -->
  <div id="feedback" class="feedback">
    <h3 id="feedback-msg" class="no-margin"></h3>
  </div>

  <div layout="column" ng-controller="CoursesTaskAttach">
    <md-content class="container md-padding">
      <md-table-container>
        <table md-table md-row-select="options.rowSelection">
          <thead md-head>
            <tr md-row class="table-head">
              <th><span>Id Estudiante</span></th>
              <th><span>Nombre Estudiante</span></th>
              <th><span>Nombre de archivo</span></th>
              <th>Calificación</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody md-body id="hw-content" class="table-body">
          </tbody>
        </table>
      </md-table-container>
    </md-content>
  </div>


  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc.5/angular-material.min.js"></script>
  <script src="/static/js/general/moment.min.js"></script>
  <script src="/static/js/general/md-data-table.min.js"></script>

  <!-- Your application bootstrap  -->
  <script type="text/javascript">
    /**
     * You must include the dependency on 'ngMaterial'
     */
    var app = angular.module('SchoolApp', ['ngMaterial', 'md.data.table']);

    function addFeedback(msg, status) {
      var cl = status == "success" ? "#70DA8B" : "#FFE6B2";
      var fontColor = status == "success" ? "#FFFFFF" : "#C5A14E";
      $("#feedback").addClass("msg");
      $("#feedback-msg").html(msg);
      $("#feedback").css({
        "background-color": cl,
        "color": fontColor
      });
      setTimeout(function() {
        $("#feedback").removeClass("msg");
        $("#feedback-msg").html("");
      }, 6000);
    }
  </script>

  <script src="/static/js/teacher/courses/CoursesTaskAttach.js"></script>

</body>

</html>
