/**
  * Variables Partial SASS
  * This SASS file has the palette color
  * the media queries break points and fonts attributes.
**/

// Basic colors
$white: #FFF;
$black: #000;
$gray: #878787;
$gray-material : #e9eaed;
$gray-900: #263238;
$gray-100: #F5F5F5;
$indigo-400: #302e5f;
// Asset paths
$path-img-css: "../../img";

// Media query break points
$brk-less-lg: "(min-width: 1200px)";
$brk-less-md: "(min-width: 992px)";
$brk-less-max-md: "(max-width: 992px)and(min-width:768px)";
$brk-less-sm: "(min-width: 768px)";
$brk-less-max-sm: "(max-width: 768px)and(min-width:500px)";

// Font stack
$font-url--google: 'http://fonts.googleapis.com/css?family=Open+Sans|Yeseva+One|Pathway+Gothic+One|Alegreya+Sans+SC:300,500';
$font-family--primary: "Open Sans", sans-serif;
$font-family--secondary: 'Yeseva One', cursive;
$font-family--titles: 'Pathway Gothic One', sans-serif;
$font-family--h4: 'Alegreya Sans SC', sans-serif;

// Font Weights
$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--medium: 400;
$font-weight--bold: 700;

// Text Size
$base__font-size: 16px;
