/**
  * Main SASS file gets all partials
  * this sass file will be compiled at
  * the beginning
**/
/**
  * Variables Partial SASS
  * This SASS file has the palette color
  * the media queries break points and fonts attributes.
**/
/**
  * Utils Partial SASS
  * This SASS file has all the functions used
  * on the partials.
**/
@import url("http://fonts.googleapis.com/css?family=Open+Sans|Yeseva+One|Pathway+Gothic+One|Alegreya+Sans+SC:300,500");
/**
  * Mixin Partial SASS
  * This SASS file make groups of CSS declarations
  * that are reuse throughout the site.
**/
/**
  * Extend Partial SASS
  * This SASS file has all common
  * styles that are presented on some
  * classes
**/
.profile-preview .inner-filter {
  width: 100%;
  height: 100%; }

.no-padding {
  padding: 0; }

.no-margin, .profile-preview {
  margin: 0; }

/* Contact */
/* Buttons */
.file-upload {
  overflow: hidden;
  cursor: pointer; }

/* Top ten */
/* Home towns */
/* Top image */
/**
  * Index Partial SASS
  * This SASS file is the manifest on
  * components folder
  * !Important import order is relevant while compiling SASS
**/
/**
  * BASE Partial SASS
  * This SASS file has general components
  * used on the app
**/
/*General*/
html {
  height: 100%; }

.general-center {
  text-align: center;
  margin: 0 auto; }

.txt-left {
  text-align: left; }

/**
  * Footer Partial SASS
  * This SASS file has all footers style
**/
/*Footer*/
footer {
  width: 100%;
  background: #603913;
  height: 200px;
  justify-content: center;
  display: flex; }
  footer .contact-foot {
    font-size: 1em;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin: 2% 0;
    opacity: 0.7; }
    footer .contact-foot span {
      color: #fbb040;
      float: right;
      font-size: 1.125em; }

/**
  * Header Partial SASS
  * This SASS file has the header components
  * used on the app
**/
/**
  * Index Partial SASS
  * This SASS file is the manifest on
  * components folder
  * !Important import order is relevant while compiling SASS
**/
/**
  * Backgrounds Partial SASS
  * This SASS file create
  * multiple backgrounds (colors/img)
**/
.profile-photo {
  background: #000;
  height: 550px; }
  .profile-photo .default-photo {
    background: #878787;
    -webkit-transition: opacity ease-in-out 0.2s;
    -moz-transition: opacity ease-in-out 0.2s;
    -o-transition: opacity ease-in-out 0.2s;
    transition: opacity ease-in-out 0.2s;
    height: 100%; }
    .profile-photo .default-photo .photo-icon {
      width: 80px;
      height: 80px !important;
      margin: 0 auto;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  .profile-photo input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; }

.profile-preview {
  height: 550px;
  width: 100%;
  display: none; }
  .profile-preview .inner-filter {
    background: linear-gradient(0deg, transparent, rgba(29, 17, 17, 0.6)), linear-gradient(transparent, transparent 50%); }
  .profile-preview a {
    background-image: url("../images/ic_cancel_white.png");
    padding: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 15px;
    right: 15px; }
    .profile-preview a:hover {
      padding: 18px;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer; }

.login {
  background-image: url("/static/images/profile.jpg");
  background-size: cover;
  width: 100%;
  height: 600px; }

/**
  * Buttons Partial SASS
  * This SASS file has all
  * buttons style on the web app
**/
/* General */
/* LOGIN */
.btn-container {
  width: 150px;
  display: flex;
  margin-left: auto; }

/* Register */
.file-upload {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  font-size: 1.625em;
  color: #FFF;
  text-align: center;
  -webkit-transition: background 0.45s ease-in-out;
  -moz-transition: background 0.45s ease-in-out;
  -o-transition: background 0.45s ease-in-out;
  transition: background 0.45s ease-in-out;
  width: 14%;
  position: relative;
  margin: -10px auto 5%;
  background: #F8B451;
  border: 5px solid #fbb040; }

.file-upload:hover {
  background: #fbb040; }

/**
  * Forms Partial SASS
  * This SASS file has all
  * forms used on the app
**/
.publish {
  width: 50%; }

.card-container {
  margin: 10% auto;
  width: 60%; }
  .card-container .form_reg {
    margin: 5% auto;
    width: 80%; }
    .card-container .form_reg .profile_photo {
      width: 200px;
      height: 200px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      border-radius: 100px;
      margin: -130px auto 0;
      border: 5px solid #e9eaed;
      background-size: cover; }

/**
  * Icons Partial SASS
  * This SASS file has most of the icons
  * used on the app
**/
/**
  * Modals Partial SASS
  * This SASS has the modals dialogs
**/
.card-dialog {
  width: 50%; }
  .card-dialog .input-margin {
    margin: 25px;
    width: 80%; }
  .card-dialog .icon-margin {
    width: 80%;
    text-align: right; }

/**
  * Wrappers Partial SASS
  * This SASS has all the wrappers used on the app
  * This file is the most important because all boxes format
  * are predefined here
**/
.border-title {
  border-top: 6px solid #FFF;
  width: 65px;
  margin-bottom: 5%; }

.card-announ {
  background-color: white;
  width: 55%;
  margin: 10px auto; }

.button-eliminate {
  margin-top: 50px;
  float: right; }

.card {
  background: #FFF;
  padding: 25px; }
  .card .card-button {
    float: right; }

/* Tab container*/
.cd-tabs-content {
  background: #FFF;
  height: auto;
  padding: 0;
  width: 100%; }
  .cd-tabs-content .tab {
    display: none;
    padding: 1.4em;
    height: auto;
    overflow-y: scroll; }
    .cd-tabs-content .tab.selected {
      display: block;
      -webkit-animation: cd-fade-in 0.5s;
      -moz-animation: cd-fade-in 0.5s;
      animation: cd-fade-in 0.5s; }
    .cd-tabs-content .tab p {
      font-size: 1em;
      color: #000;
      font-family: "Open Sans", sans-serif;
      line-height: 1.6; }

.head-img {
  background-image: url("http://cdn1.theodysseyonline.com/files/2016/01/03/635873821517718970351055939_Stack-of-books-great-education.jpg");
  position: relative;
  width: 100%;
  height: 0;
  /* Simple trick to keep a 16:9 ratio on your background image (height=0;padding-bottom=56.25%) */
  padding-bottom: 15.25%;
  overflow: hidden;
  background-size: 160%;
  /* You can override this value if your picture has a weird ratio */
  background-position: 50% 50%; }
  .head-img h1 {
    text-align: center;
    margin-top: 5%; }

.general-card {
  margin: 10px 0;
  height: 250px; }

.margin-block {
  margin: 60px auto; }
  .margin-block label {
    text-align: center;
    width: 100%; }

.container-question {
  margin: 10px auto;
  width: 90%;
  border-bottom: 1px solid #e9eaed; }
  .container-question .multiple-opt {
    width: 150px; }

.questions {
  height: 50px; }

/*Media Queries*/

/*# sourceMappingURL=main.css.map */
