/**
  * Main SASS file gets all partials
  * this sass file will be compiled at
  * the beginning
**/
/**
  * Variables Partial SASS
  * This SASS file has the palette color
  * the media queries break points and fonts attributes.
**/
/**
  * Utils Partial SASS
  * This SASS file has all the functions used
  * on the partials.
**/
@import url("http://fonts.googleapis.com/css?family=Open+Sans|Yeseva+One|Pathway+Gothic+One|Alegreya+Sans+SC:300,500");
/**
  * Mixin Partial SASS
  * This SASS file make groups of CSS declarations
  * that are reuse throughout the site.
**/
/**
  * Extend Partial SASS
  * This SASS file has all common
  * styles that are presented on some
  * classes
**/
.profile-preview .inner-filter {
  width: 100%;
  height: 100%; }

.btn-shadow, .btn-shadow-more {
  border-radius: 0;
  margin: 10px 2px; }

.no-margin, .profile-preview {
  margin: 0; }

/* Contact */
/* Buttons */
.btn_menu, .file-upload {
  overflow: hidden;
  cursor: pointer; }

/* Top ten */
/* Home towns */
/* Top image */
/**
  * Index Partial SASS
  * This SASS file is the manifest on
  * components folder
  * !Important import order is relevant while compiling SASS
**/
/**
  * BASE Partial SASS
  * This SASS file has general components
  * used on the app
**/
/*General*/
html {
  height: 100%; }

/**
  * Footer Partial SASS
  * This SASS file has all footers style
**/
/*Footer*/
footer {
  width: 100%;
  background: #603913;
  height: 200px;
  justify-content: center;
  display: flex; }
  footer .contact-foot {
    font-size: 1em;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin: 2% 0;
    opacity: 0.7; }
    footer .contact-foot span {
      color: #fbb040;
      float: right;
      font-size: 1.125em; }

/**
  * Header Partial SASS
  * This SASS file has the header components
  * used on the app
**/
/**
  * Index Partial SASS
  * This SASS file is the manifest on
  * components folder
  * !Important import order is relevant while compiling SASS
**/
/**
  * Backgrounds Partial SASS
  * This SASS file create
  * multiple backgrounds (colors/img)
**/
.profile-photo {
  background: #000;
  height: 550px; }
  .profile-photo .default-photo {
    background: #878787;
    -webkit-transition: opacity ease-in-out 0.2s;
    -moz-transition: opacity ease-in-out 0.2s;
    -o-transition: opacity ease-in-out 0.2s;
    transition: opacity ease-in-out 0.2s;
    height: 100%; }
    .profile-photo .default-photo .photo-icon {
      width: 80px;
      height: 80px !important;
      margin: 0 auto;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  .profile-photo input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; }

.profile-preview {
  height: 550px;
  width: 100%;
  display: none; }
  .profile-preview .inner-filter {
    background: linear-gradient(0deg, transparent, rgba(29, 17, 17, 0.6)), linear-gradient(transparent, transparent 50%); }
  .profile-preview a {
    background-image: url("../images/ic_cancel_white.png");
    padding: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 15px;
    right: 15px; }
    .profile-preview a:hover {
      padding: 18px;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer; }

.login {
  background-image: url(http://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/public/field/field_image_main/NasirHamid03%20blue4_7.jpg?itok=9aRLl0oe);
  width: 100%;
  height: 600px; }

/**
  * Buttons Partial SASS
  * This SASS file has all
  * buttons style on the web app
**/
/* General */
.btn-shadow {
  background-color: rgba(255, 255, 255, 0.4); }
  .btn-shadow:hover {
    background-color: rgba(255, 255, 255, 0.8); }

/* Menu */
.btn_menu {
  width: 48px;
  height: 45px;
  position: relative;
  background: #603913;
  border: none;
  text-indent: -900em;
  outline: none; }
  .btn_menu:after {
    width: 68%;
    height: 5px;
    position: absolute;
    top: 10px;
    left: 16%;
    content: '';
    background: #FFF;
    box-shadow: 0 10px 0 #FFF, 0 20px 0 #FFF; }
  .btn_menu:hover {
    background: #5c3612; }

/* LOGIN */
.btn-container {
  width: 150px;
  display: flex;
  margin-left: auto; }

/* SEARCH */
.container-1 button.icon {
  width: 6%;
  height: 35px;
  border: none;
  background: transparent; }

/* COMMENTS */
.btn-shadow-more {
  background-color: rgba(0, 0, 0, 0.4); }
  .btn-shadow-more:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF; }

/* Register */
.file-upload {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  font-size: 1.625em;
  color: #FFF;
  text-align: center;
  -webkit-transition: background 0.45s ease-in-out;
  -moz-transition: background 0.45s ease-in-out;
  -o-transition: background 0.45s ease-in-out;
  transition: background 0.45s ease-in-out;
  width: 14%;
  position: relative;
  margin: -10px auto 5%;
  background: #F8B451;
  border: 5px solid #fbb040; }

.file-upload:hover {
  background: #fbb040; }

.btn-publish {
  width: 70%;
  font-size: 22px;
  color: #FED190;
  border: 5px solid #fbb040;
  padding-bottom: 35px; }
  .btn-publish:hover {
    color: #fbb040;
    background-color: transparent;
    border: 5px solid #fbb040; }

.form-buttom {
  cursor: pointer;
  padding: 5px;
  width: auto;
  text-align: center;
  color: #fbb040;
  border: 5px solid #fbb040;
  background-color: transparent; }

/**
  * Forms Partial SASS
  * This SASS file has all
  * forms used on the app
**/
/**
  * Icons Partial SASS
  * This SASS file has most of the icons
  * used on the app
**/
/**
  * Modals Partial SASS
  * This SASS has the modals dialogs
**/
/**
  * Wrappers Partial SASS
  * This SASS has all the wrappers used on the app
  * This file is the most important because all boxes format
  * are predefined here
**/
.border-title {
  border-top: 6px solid #FFF;
  width: 65px;
  margin-bottom: 5%; }

.card-announ {
  background-color: white;
  width: 55%;
  margin: 10px auto; }

.button-eliminate {
  margin-top: 50px;
  float: right; }

.card {
  background: #FFF;
  padding: 25px; }
  .card .card-button {
    float: right; }

/*Media Queries*/

/*# sourceMappingURL=main.css.map */
