/**
  * Main SASS file gets all partials
  * this sass file will be compiled at
  * the beginning
**/
/**
  * Variables Partial SASS
  * This SASS file has the palette color
  * the media queries break points and fonts attributes.
**/
/**
  * Utils Partial SASS
  * This SASS file has all the functions used
  * on the partials.
**/
@import url("http://fonts.googleapis.com/css?family=Open+Sans|Yeseva+One|Pathway+Gothic+One|Alegreya+Sans+SC:300,500");
/**
  * Mixin Partial SASS
  * This SASS file make groups of CSS declarations
  * that are reuse throughout the site.
**/
/**
  * Extend Partial SASS
  * This SASS file has all common
  * styles that are presented on some
  * classes
**/
.profile-preview .inner-filter {
  width: 100%;
  height: 100%; }

.no-padding {
  padding: 0; }

.no-margin, .profile-preview {
  margin: 0; }

/**
  * Index Partial SASS
  * This SASS file is the manifest on
  * components folder
  * !Important import order is relevant while compiling SASS
**/
/**
  * BASE Partial SASS
  * This SASS file has general components
  * used on the app
**/
/*General*/
html {
  height: 100%; }

.general-center {
  text-align: center;
  margin: 0 auto; }

.txt-left {
  text-align: left; }

/**
  * Footer Partial SASS
  * This SASS file has all footers style
**/
/*Footer*/
footer {
  width: 100%;
  background: #263238;
  height: 100px;
  justify-content: center;
  display: flex;
  font-family: "Open Sans", sans-serif;
  color: #FFF; }

/**
  * Header Partial SASS
  * This SASS file has the header components
  * used on the app
**/
/*
  ANIMATION
  */
@-webkit-keyframes stretch {
  0% {
    transform: scale(0.3);
    border-radius: 100%; }
  50% {
    width: 50%;
    height: 150px;
    margin-left: -48%; }
  100% {
    width: 100%;
    left: 0;
    margin-left: 0;
    transform: scale(1); } }
@-moz-keyframes stretch {
  0% {
    transform: scale(0.3);
    border-radius: 100%; }
  50% {
    width: 50%;
    height: 150px;
    margin-left: -48%; }
  100% {
    width: 100%;
    left: 0;
    margin-left: 0;
    transform: scale(1); } }
@keyframes stretch {
  0% {
    transform: scale(0.3);
    border-radius: 100%; }
  50% {
    width: 50%;
    height: 150px;
    margin-left: -48%; }
  100% {
    width: 100%;
    left: 0;
    margin-left: 0;
    transform: scale(1); } }
/* out*/
@-webkit-keyframes feedback-out {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(0px);
    padding-top: 5px; }
  100% {
    transform: translateY(-150px); } }
@-moz-keyframes feedback-out {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(0px);
    padding-top: 5px; }
  100% {
    transform: translateY(-150px); } }
@keyframes feedback-out {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(0px);
    padding-top: 5px; }
  100% {
    transform: translateY(-150px); } }
/**
  * Index Partial SASS
  * This SASS file is the manifest on
  * components folder
  * !Important import order is relevant while compiling SASS
**/
/**
  * Backgrounds Partial SASS
  * This SASS file create
  * multiple backgrounds (colors/img)
**/
.profile-photo {
  background: #000;
  height: 550px; }
  .profile-photo .default-photo {
    background: #878787;
    -webkit-transition: opacity ease-in-out 0.2s;
    -moz-transition: opacity ease-in-out 0.2s;
    -o-transition: opacity ease-in-out 0.2s;
    transition: opacity ease-in-out 0.2s;
    height: 100%; }
    .profile-photo .default-photo .photo-icon {
      width: 80px;
      height: 80px !important;
      margin: 0 auto;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  .profile-photo input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; }

.profile-preview {
  height: 550px;
  width: 100%;
  display: none; }
  .profile-preview .inner-filter {
    background: linear-gradient(0deg, transparent, rgba(29, 17, 17, 0.6)), linear-gradient(transparent, transparent 50%); }
  .profile-preview a {
    background-image: url("../images/ic_cancel_white.png");
    padding: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 15px;
    right: 15px; }
    .profile-preview a:hover {
      padding: 18px;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer; }

.login {
  background-image: url("/static/images/profile.jpg");
  background-size: cover;
  width: 100%;
  height: 600px; }

.feedback {
  padding: 0 35px;
  color: #fff;
  overflow: hidden;
  position: fixed;
  width: 100px;
  height: 100px;
  left: 50%;
  margin-left: -100px;
  top: 0;
  z-index: 2;
  display: none;
  font-family: 'Roboto', sans-serif; }
  .feedback h3 {
    font-size: 30px; }
  .feedback p {
    font-size: 20px; }

.msg {
  display: block;
  -webkit-animation: stretch 0.3s ease-in-out forwards, feedback-out 0.3s ease-in-out 5s forwards;
  -moz-animation: stretch 0.3s ease-in-out forwards, feedback-out 0.3s ease-in-out 5s forwards;
  animation: stretch 0.3s ease-in-out forwards, feedback-out 0.3s ease-in-out 5s forwards; }

/**
  * Buttons Partial SASS
  * This SASS file has all
  * buttons style on the web app
**/
/* General */
/* LOGIN */
/**
  * Forms Partial SASS
  * This SASS file has all
  * forms used on the app
**/
.publish {
  width: 50%; }

.card-container {
  margin: 10% auto;
  width: 60%; }
  .card-container .form_reg {
    margin: 5% auto;
    width: 80%; }
    .card-container .form_reg .profile_photo {
      width: 200px;
      height: 200px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      border-radius: 100px;
      margin: -130px auto 0;
      border: 5px solid #e9eaed;
      background-size: cover; }

.login-info {
  font-family: "Open Sans", sans-serif; }
  .login-info .icon {
    width: 50px;
    height: 50px; }

/**
  * Icons Partial SASS
  * This SASS file has most of the icons
  * used on the app
**/
/**
  * Modals Partial SASS
  * This SASS has the modals dialogs
**/
.card-dialog {
  width: 50%; }
  .card-dialog .input-margin {
    margin: 25px;
    width: 80%; }
  .card-dialog .icon-margin {
    width: 80%;
    text-align: right; }

/**
  * Wrappers Partial SASS
  * This SASS has all the wrappers used on the app
  * This file is the most important because all boxes format
  * are predefined here
**/
.border-title {
  border-top: 6px solid #FFF;
  width: 65px;
  margin-bottom: 5%; }

.card-announ {
  background-color: white;
  width: 55%;
  margin: 10px auto; }

.button-eliminate {
  margin-top: 50px;
  float: right; }

.card {
  background: #FFF;
  padding: 25px; }
  .card .card-button {
    float: right; }

.head-img {
  background-image: url("http://cdn1.theodysseyonline.com/files/2016/01/03/635873821517718970351055939_Stack-of-books-great-education.jpg");
  position: relative;
  width: 100%;
  height: 0;
  /* Simple trick to keep a 16:9 ratio on your background image (height=0;padding-bottom=56.25%) */
  padding-bottom: 15.25%;
  overflow: hidden;
  background-size: 160%;
  /* You can override this value if your picture has a weird ratio */
  background-position: 50% 50%; }
  .head-img h1 {
    text-align: center;
    margin-top: 5%; }

.general-card {
  margin: 10px 0;
  height: 250px; }

.margin-block {
  margin: 60px auto; }
  .margin-block label {
    text-align: center;
    width: 100%; }

.container-questions {
  margin: 10px auto;
  width: 90%;
  height: 230px;
  border-bottom: 1px solid #e9eaed; }
  .container-questions .multiple-opt {
    width: 150px; }

.questions {
  height: 50px; }

.margin-level {
  margin-top: 10px; }

.header-school {
  color: white;
  background-color: #3949AB; }

.add-color {
  color: white; }

/*Media Queries*/

/*# sourceMappingURL=main.css.map */
